# compiled output
/dist
/node_modules
.env




public/upload_files/temp/*
!.gitkeep

public/upload_files/category/*
!.gitkeep

public/upload_files/subCategory/*
!.gitkeep

public/upload_files/stone/*
!.gitkeep

public/upload_files/agent/*
!.gitkeep

public/upload_files/branch/*
!.gitkeep


public/upload_files/employee/*
!.gitkeep


public/upload_files/supplier/*
!.gitkeep



















# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# OS
.DS_Store

# Tests
/coverage
/.nyc_output

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json